/*vegetable list start*/
.list-background {
  background-color: darkgray;
}
.mybutton {
  padding: 5px 20px 5px 20px;
  margin: 5px;
  border-radius: 5px;
}
.detailsbutton{
  background-color: chartreuse;
  color: black;
}
.detailsbutton:hover{
  background-color: rgb(242, 239, 63);
  color: black;
}
.deletebutton {
  background-color: crimson;
  color: white;
}
.deletebutton:hover {
  background-color: rgb(15, 149, 15);
  color: white;
}
.Editbutton {
  background-color: rgb(242, 242, 45);
  color: black;
}
.Editbutton:hover {
  background-color: aqua;
  color: black;
}
.search-container {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
}
.search-bar {
    margin-top: 25px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
/*vegetable list end*/

/*Add vegetable start*/
.vegetable-container {
  padding: 10px;
  margin: 5px;
}
.vegetable-header {
  text-align: center;
  padding: 5px;
}
.vegetable-form-container {
  padding: 10px;
  margin: 5px;
}
/*Add vegetable end*/
.table-header{
  text-align: center;
}
.chage-price-from{
  display: flex;
  justify-content: baseline;
  flex-direction: row;
}

/*shop list start*/
.shoplist-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a9a9a942;
  margin: 5px;
  padding: 2px;
}
.shoplist-card{
  width: auto;
 text-align: center;
  height: auto;
  padding: 5px;
  margin: 2px;
  border: 5px solid rgb(28, 233, 28);
}
.search-container{
  width: auto;
  height: 40px;
  margin-bottom: 50px;
}
.key-values{
  text-decoration: dashed;
  font-style: italic;
  color:#ff00e0;
}
.heading-shoplist{
  text-align: center;
}
/*shop list end*/
/*Add shop start*/
.shop-container{
  padding: 10px;
  margin: 5px;
}
.shop-textpart{
  text-align: center;
}
/*Add shop end*/
/*shop details start*/
.card-header {
  text-align: right;

}
/*shop details end*/

/*add soil start*/
.Soil-add-container{
  height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin: 2px;
}
.Soil-add-textpart{
  text-align: center;

}
.soil-add-form{
  text-align: center;

}
/*add soil end*/
.Report-container{
  height: 100dvh;
}

/* scheme list start*/
.gs-list-container{

}
.heading-shoplist{

}
.gs-list-card{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 3px solid greenyellow;

}
.gs-image-container{
width: 30%;
height: 350px;
padding: 5px;
}
.gs-text-area{
  display: flex;
  flex-direction: column;

}
/* scheme list end*/

/*add scheme start*/
.government-container{
  width: auto;
  height: 100dvh;
  padding: 10px;
  background-color: #a9a9a942;
}
.government-text-container{
  text-align: center;
}
.government-form-container{
  text-align: center;
}
/*add scheme end*/